$primary-color: rgb(43, 196, 94);
$secondary-color: rgb(58, 17, 85);
$font-family: "Playfair Display", serif;

.main-view {
  text-align: center;
  margin-right: auto;
  margin-left: auto;
  width: 50%;
}
