$primary-color: rgb(43, 196, 94);
$secondary-color: rgb(58, 17, 85);
$font-family: "Playfair Display", serif;

* {
  box-sizing: border-box;
}

.profile-view {
  display: flex;
  align-items: center;
  justify-content: center;
  font-family: $font-family;
}

.profile-view-fave-movies {
  max-width: 100%;
  text-align: left;
}

.delete-movie-button,
.open-movie-button {
  margin-left: 20%;
}
